html, body {
  margin: 0;
  padding: 0;
}

.bord:focus {
  outline: none;
  border: 2px solid #FFFFFF;
}

.darken::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.darken2::before {
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.highlighted-element {
  position: relative;
  z-index: 1000;
  background: white;
}